{% set href = this.href %}
{% set external = this.external %}
{% set ariaLabel = this.ariaLabel %}

<a
  href="{{ href }}"
  target="{{ external ? '_blank' : null }}"
  rel="{{ external ? 'noopener noreferrer' : null }}"
  {# rel décrit la relation entre ta page et la page liée. #}
  
  aria-label="{{ ariaLabel is not empty ? ariaLabel : null }}"
  {{ attributes.defaults({ class: 'inline-flex items-center' }) }}
>
  {% block content %}{% endblock %}
</a>
