<form
  method="{{ this.effectiveMethod }}"
  {% if this.effectiveAction %}action="{{ this.effectiveAction }}"{% endif %}
  {% if this.computedId %}id="{{ this.computedId }}"{% endif %}
  {% if this.novalidate %}novalidate{% endif %}
  {% if this.disabled %}aria-disabled="true"{% endif %}
  {% if this.effectiveAriaLabel %}aria-label="{{ this.effectiveAriaLabel }}"{% endif %}
  {% if this.effectiveAriaDescribedby %}aria-describedby="{{ this.effectiveAriaDescribedby }}"{% endif %}
  class="{{ this.class }}"
>
  <fieldset {% if this.disabled %}disabled{% endif %} class="contents">
    {% block content %}{% endblock %}
  </fieldset>
</form>
