{% set brandLabel = this.brandLabel %}
{% set brandHref = this.brandHref %}
{% set logoSrc = this.logoSrc %}
{% set logoAlt = this.logoAlt %}
{% set links = this.links %}
{% set class = this.class %}

<header class="flex justify-between bg-white {{ class }}">
  
    <div class="flex items-center gap-3">
      <twig:Atoms:Link href="{{ brandHref }}" class="inline-flex items-center gap-3">
        {% if logoSrc is not empty %}
          <twig:Atoms:Image src="{{ logoSrc }}" alt="{{ logoAlt }}" class="h-8 w-auto" />
        {% else %}
          <span class="text-base font-semibold">{{ brandLabel }}</span>
        {% endif %}
        {% if logoSrc is not empty and brandLabel is not empty %}
          <span class="sr-only">{{ brandLabel }}</span>
        {% endif %}
      </twig:Atoms:Link>
    </div>

    <twig:Molecules:Nav :links="links" />

  
</header>
